# the build directory
build/

# the transmogifier checked out directory
transmogrifier/

# env file
ENV

# emacs backups
*~

__pycache__

tile-generator/tiles
tile-generator/OUT
tile-generator/*.mbtiles
